* {
    box-sizing:border-box;
}

body {
    background-color: rgb(117, 143, 183);
    color: rgb(233, 170, 151);
}

@media screen and (max-width:500px){
    /* Any screen resolution from 0-500px wide*/
    body {
        background-color: rgb(233, 170, 151);
        color: rgb(117, 143, 183);
        font-size: 130%;
    }
}

@media screen and (max-width:400px){
    body {
        background-color: rgb(231, 222, 129);
        color: black;
    }
}

